<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui consequuntur molestias modi beatae minima aliquid ducimus totam mollitia reprehenderit veritatis. Est corporis sed culpa quisquam quidem consectetur eos laborum! Repellendus debitis ut et quas ducimus commodi placeat repudiandae voluptates unde.</p>
    </div>
</div>